---
import Base from "../../layouts/Base.astro";
import CatalogGrid from "../../components/CatalogGrid.astro";
---
<Base
  title="Cataloage | ERMA"
  lang="ro"
>
  <main>
    <CatalogGrid lang="ro" showFilters={true} />
  </main>
</Base>
