---
import Base from "../../layouts/Base.astro";
import CatalogGrid from "../../components/CatalogGrid.astro";
---
<Base
  title="Cataloage ERMA | Materiale săditoare"
  lang="ro"
>
  <main>
    <CatalogGrid lang="ro" />
  </main>
</Base>
