---
import Base from "../../layouts/Base.astro";
import CatalogGrid from "../../components/CatalogGrid.astro";
---
<Base
  title="ERMA Katalógusok | Szaporítóanyag"
  lang="hu"
>
  <main>
    <CatalogGrid lang="hu" showFilters={true} />
  </main>
</Base>
